<p>
  <b>Round:</b>
  <%= @game.round %>
</p>
<p>
  <b>Time</b>
  <%= @game.created_at %>
</p>
<p>
  <b>Team A score</b>
  <%= @ascore %>
</p>
<p>
  <b>Team B score</b>
  <%= @bscore %>
</p> |
<%= link_to 'Back', games_path %>
