<div id="title">
<h1><%=@vote.team%></h1>
<h1 class="countdown" style="color:blue">
  <%if(@vote.round == 1)%>
  180
  <%else%>
  60
  <%end%>
</h1>
</div>

<%= form_for(@vote) do |f| %>
    <% if @vote.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

          <ul>
            <% @vote.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.hidden_field :game_id %>
    </div>
    <div class="field">
      <%= f.hidden_field :team %>
    </div>
    <div class="field">
      <%= f.hidden_field :round %>
    </div>
    <div>
      <%= f.hidden_field :vote, :id => "vote" %>
    </div>
    <div><button id="red" class="vote" style="color:red">红</button></div>
    <div><button id="black" class="vote">黑</button></div>
<% end %>

